// Add mobile styles for the component here

.notPolicies {
    vertical-align: middle;
    font-weight: bold;
    font-size: 18;
    text-align: center;
}

.title-policies {
    font-weight: bold;
    font-size: 16;
    text-align: left;
    padding-left: 40px;
}

.text-policies {
    color: rgb(121, 121, 121);
    font-size: 14.5;
    text-align: left;
}

.textInfo {
    margin-top: 20;
    text-align: center;
    font-size: 14;
    font-weight: bold;
    color: #000;
}

.btnOptions {
    background-color: #fff;
    color: #000;
    android-elevation: 0;
}