<GridLayout rows="auto, *" columns="*">
    <StackLayout row="0" col="0" class="ActionBarTitle">
        <Label [text]="'Hola, ' + fullClientName" textWrap="true"></Label>
    </StackLayout>
    <StackLayout row="1" col="0">
        <app-tabs></app-tabs>
    </StackLayout>
</GridLayout>