// Add mobile styles for the component here
.ActionBarTitle {
    height: 200px;
    padding-top: 30;
    vertical-align: middle;
    text-align: center;
    font-size: 18;
    background-color: #4c4fcd;
    color: #fff;
    font-weight: bold;
}
